#side-bar {
  width: 150px;
  height: 100%;
  font-size: 16px;
  background-color: #eee;
}
.side-menu {
  width: 150px;
  height: 100%;
  ul {
    width: 150px;
    height: 100%;
    li {
      height: 100px;
      line-height: 100px;
      text-align: center;
      border: 1px solid #ddd;
      box-sizing: border-box;
      a {
        color: #333;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        .menu-title {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
